PEI/ficha2_ex1/alinea_d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="livro" type="livroType"/>

    <xs:complexType name="livroType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="isbn" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
