PEI/ficha3/Exercicio2/cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://faturaCompra.pt/cliente"
    xmlns:c="http://faturaCompra.pt/cliente"
    elementFormDefault="qualified">

    <xs:element name="cliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="nif" type="xs:string"/>
                <xs:element name="morada" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>